@use '../../../../style/variables' as *;

.vf-pagination {
	display: flex;
	padding-left: 0;
	list-style: none;
	font-size: 1rem;
}

.vf-page-link {
	border-radius: 4px;
	display: block;

	line-height: 28px;
	color: $text__dark-color;
	background-color: $primary__aura-white;
	border: 1px solid $border__grey;
	margin: 0 3px;
	min-width: 36px;
	text-align: center;
	text-decoration: none;
	position: relative;
	padding: 3px 10px;

	&:hover {
		z-index: 2;
		color: $primary__ocean-blue;
		text-decoration: none;
		background-color: #e6eaed;
		border-color: #dee2e6;
	}

	&:focus {
		z-index: 2;
		outline: 0;
		box-shadow: 0 0 0 0.2rem rgba($primary__ocean-blue, 0.25);
	}

	// Opinionated: add "hand" cursor to non-disabled .vf-page-link elements
	&:not(:disabled):not(.disabled) {
		cursor: pointer;
	}
}

.vf-page-item {
	&:first-child {
		.vf-page-link {
			margin-left: 0;
		}
	}

	&.active .vf-page-link {
		z-index: 1;
		color: $primary__aura-white;
		background-color: $primary__ocean-blue;
		border-color: #dee2e6;
	}

	&.disabled .vf-page-link {
		color: #6c757d;
		pointer-events: none;
		cursor: auto;
		background-color: $primary__aura-white;
		border-color: #dee2e6;
	}
}
