@use '../../../../style/variables' as *;

.vf-btn {
	background-color: transparent;
	border: 2px solid transparent;
	border-radius: 20px;
	color: #222222;
	display: inline-block;
	font-family: 'Vattenfall Hall NORDx';
	font-size: 0.875rem;
	font-weight: 500;
	line-height: 18px;
	padding: 9px 48px;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
		border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
		-webkit-box-shadow 0.15s ease-in-out;
	min-width: 180px;
	vertical-align: middle;
	text-align: center;
	user-select: none;
	position: relative;

	&::before {
		content: '\2192';
		font-size: 1.5rem;
		opacity: 0;
		position: absolute;
		transform: translate(-220%, 0);
		transform-origin: top left;
		transition-property: opacity, transform, -webkit-transform;
		-webkit-transition-duration: 300ms;
		transition-duration: 300ms;
	}

	&:hover::before {
		transition-delay: 150ms;
		transform: translate(-150%, 0);
		opacity: 1;
	}

	&--block {
		display: block;
		width: 100%;

		+ .vf-btn--block {
			margin-top: 10px;
		}
	}
}

.vf-btn--lg {
	padding: 12px 48px;
	font-size: 1.125rem;
	line-height: 24px;
	border-radius: 26px;
	min-width: 240px;
}

.vf-btn__primary {
	color: #111111;
	background: $primary__solar-yellow;

	&:hover {
		background: #ffe85b;
	}

	&:focus {
		background: #f1c50b;
	}
}

.vf-btn__secondary {
	color: $primary__aura-white;
	background: #1964a3;

	&:hover {
		background: $primary__ocean-blue;
	}

	&:focus {
		background: $secondary__dark-blue;
	}
}

.vf-btn__tertiary {
	color: $text__dark-color;
	background: transparent;
	border: 2px #cdd1d4 solid;

	&:hover {
		background: #1964a3;
		border-color: #1964a3;
		color: $primary__aura-white;
	}

	&:focus {
		background: $secondary__dark-blue;
		border-color: $secondary__dark-blue;
		color: $primary__aura-white;
	}
}

.vf-btn__dark--outline {
	color: #222222;
	background: transparent;
	border: 2px #222222 solid;

	&:hover {
		color: $primary__aura-white;
		background: #222222;
		border-color: #222222;
	}

	&:focus {
		color: $primary__aura-white;
		background: $primary__magnetic-grey;
		border-color: $primary__magnetic-grey;
	}
}

.vf-btn__secondary--outline {
	color: #1964a3;
	background: transparent;
	border: 2px $primary__ocean-blue solid;

	&:hover {
		color: $primary__aura-white;
		background: #1964a3;
		border-color: #1964a3;
	}

	&:active {
		color: $primary__aura-white;
		background: $secondary__dark-blue;
		border-color: $secondary__dark-blue;
	}
}

.vf-btn:disabled {
	color: $tertiary__medium-dark-grey;
	background-color: #eeeeee;
	opacity: 0.65;
}

.vf-btn__group {
	border-radius: 34px;
	box-shadow: 0px 0px 4px 0px rgb(0 0 0 / 50%);
	display: flex;
	max-width: 100%;
	overflow: hidden;
	position: relative;
	vertical-align: middle;
	width: 100%;
}

.vf-btn__group-btn {
	background: $primary__aura-white;
	border: none;
	border-radius: 34px;
	color: #1964a3;
	display: inline-block;
	flex: 1;
	font-size: 1rem;
	font-weight: 500;
	letter-spacing: -0.05px;
	line-height: 28px;
	vertical-align: middle;
	text-align: center;
	position: relative;
	padding: 20px 30px;

	&:focus,
	&:hover {
		color: $primary__aura-white;
	}

	&:not(:last-child) {
		border-bottom-right-radius: 0;
		border-top-right-radius: 0;
	}
	&:not(:first-child) {
		border-bottom-left-radius: 0;
		border-top-left-radius: 0;
	}
}

.vf-btn--incharge-nordic {
	color: #000;
	background: rgb(70, 238, 118);

	&:hover {
		background: rgb(136, 244, 166);
	}

	&:focus,
	&.focus {
		background: rgb(70, 238, 118);
	}

	&.disabled,
	&:disabled {
		color: $tertiary__medium-dark-grey;
		background-color: #eee;
	}
}
