.vf-badge {
  background: #f93b18;
  border-radius: 12px;
  display: inline-block;
  color: white;
  font-size: 0.75rem;
  font-weight: 400;
  letter-spacing: -0.04px;
  line-height: 1;
  min-width: 24px;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;
  width: fit-content;
  padding: 6px 4px;
}
