div[class*=vf-calendar] {
  position: relative;
}
div[class*=vf-calendar] .vf-input {
  cursor: pointer;
  min-width: 360px;
  padding: 16px 40px 16px 20px;
}
div[class*=vf-calendar] .vf-input-tooltip-icon.vf-icon-calendar {
  position: relative;
}
div[class*=vf-calendar] .vf-input-tooltip-icon.vf-icon-calendar:before {
  position: absolute;
  top: calc(50% - 13px);
  right: 15px;
  color: #222;
  pointer-events: none;
}
div[class*=vf-calendar] .daterangepicker {
  cursor: initial;
  font-family: "Vattenfall Hall NORDx", "Vattenfall Hall", sans-serif;
  color: #222 !important;
  border-radius: 4px;
  border: 1px solid #bcbcbc;
  box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.1);
}
div[class*=vf-calendar] .daterangepicker.opensright:before {
  left: 15px;
}
div[class*=vf-calendar] .daterangepicker.opensright:after {
  left: 16px;
}
div[class*=vf-calendar] .daterangepicker td.off, div[class*=vf-calendar] .daterangepicker td.off.in-range, div[class*=vf-calendar] .daterangepicker td.off.start-date, div[class*=vf-calendar] .daterangepicker td.off.end-date {
  color: #888888;
}
div[class*=vf-calendar] .daterangepicker .drp-calendar {
  max-width: none;
}
div[class*=vf-calendar] .daterangepicker .drp-calendar.left {
  padding: 37px 0 37px 37px;
}
@media screen and (max-width: 768px) {
  div[class*=vf-calendar] .daterangepicker .drp-calendar.left {
    padding: 37px 8px;
    text-align: center;
    display: flex;
    float: none;
  }
}
div[class*=vf-calendar] .daterangepicker .drp-calendar.left .calendar-table {
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
@media screen and (max-width: 768px) {
  div[class*=vf-calendar] .daterangepicker .drp-calendar.left .calendar-table {
    margin: 0 auto;
  }
}
div[class*=vf-calendar] .daterangepicker .drp-calendar.left.single {
  padding: 37px;
}
div[class*=vf-calendar] .daterangepicker .drp-calendar.left.single .calendar-table {
  padding-right: 0;
}
div[class*=vf-calendar] .daterangepicker .drp-calendar.right {
  padding: 37px 37px 37px 37px;
}
@media screen and (max-width: 768px) {
  div[class*=vf-calendar] .daterangepicker .drp-calendar.right {
    padding: 0 8px 37px 8px;
    display: flex;
    float: none;
  }
}
div[class*=vf-calendar] .daterangepicker .drp-calendar.right .calendar-table {
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
@media screen and (max-width: 768px) {
  div[class*=vf-calendar] .daterangepicker .drp-calendar.right .calendar-table {
    margin: 0 auto;
  }
}
div[class*=vf-calendar] .daterangepicker .drp-buttons .btn {
  font-weight: 500;
  font-size: 14px;
}
div[class*=vf-calendar] .daterangepicker .drp-buttons {
  padding: 37px;
}
@media screen and (max-width: 768px) {
  div[class*=vf-calendar] .daterangepicker .drp-buttons {
    padding: 37px 8px;
    text-align: center;
  }
}
div[class*=vf-calendar] .daterangepicker .drp-buttons .drp-selected {
  font-size: 16px;
  padding-right: 18px;
  vertical-align: middle;
}
@media screen and (max-width: 768px) {
  div[class*=vf-calendar] .daterangepicker .drp-buttons .drp-selected {
    padding-right: 0;
    display: block;
  }
}
div[class*=vf-calendar] .daterangepicker .drp-buttons button {
  cursor: pointer;
}
div[class*=vf-calendar] .daterangepicker .drp-buttons button.btn {
  margin-left: 18px;
}
@media screen and (max-width: 768px) {
  div[class*=vf-calendar] .daterangepicker .drp-buttons button.btn {
    margin: 27px 8px 0;
  }
}
div[class*=vf-calendar] .daterangepicker .calendar-table {
  border-radius: 18px;
}
div[class*=vf-calendar] .daterangepicker .calendar-table th,
div[class*=vf-calendar] .daterangepicker .calendar-table td {
  border: 1px solid transparent;
  letter-spacing: -0.05px;
}
@media screen and (min-width: 576px) {
  div[class*=vf-calendar] .daterangepicker .calendar-table th,
div[class*=vf-calendar] .daterangepicker .calendar-table td {
    min-width: 42px;
    width: 42px;
    height: 36px;
    line-height: 36px;
    font-size: 16px;
    border-radius: 18px;
    border: 1px solid transparent;
    letter-spacing: -0.05px;
  }
}
div[class*=vf-calendar] .daterangepicker .calendar-table th {
  font-family: "Vattenfall Hall NORDx", "Vattenfall Hall", sans-serif;
}
div[class*=vf-calendar] .daterangepicker .calendar-table td.in-range {
  border-radius: 0;
}
div[class*=vf-calendar] .daterangepicker .calendar-table td.start-date {
  border-radius: 18px 0 0 18px;
  margin-top: -1px;
  margin-right: -1px;
  height: 40px !important;
}
div[class*=vf-calendar] .daterangepicker .calendar-table td.start-date.end-date {
  border-radius: 18px;
}
div[class*=vf-calendar] .daterangepicker .calendar-table td.end-date {
  /* border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;*/
  border-radius: 0 18px 18px 0;
}
div[class*=vf-calendar] .daterangepicker .calendar-table td.active, div[class*=vf-calendar] .daterangepicker .calendar-table td.active:hover, div[class*=vf-calendar] .daterangepicker .calendar-table td.in-range {
  background-color: #1964a3;
  color: #fff;
}
div[class*=vf-calendar] .daterangepicker .calendar-table .next span,
div[class*=vf-calendar] .daterangepicker .calendar-table .prev span {
  border: none !important;
  padding: 0;
  color: #222;
  transform: none;
}
div[class*=vf-calendar] .daterangepicker .calendar-table .next span:before,
div[class*=vf-calendar] .daterangepicker .calendar-table .prev span:before {
  font-family: "vf-icons" !important;
  font-size: 18px;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: middle;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
div[class*=vf-calendar] .daterangepicker .calendar-table .prev {
  padding-right: 18px;
}
div[class*=vf-calendar] .daterangepicker .calendar-table .prev:hover {
  background: none;
}
div[class*=vf-calendar] .daterangepicker .calendar-table .prev span:before {
  content: "\e904";
}
div[class*=vf-calendar] .daterangepicker .calendar-table .next {
  padding-left: 18px;
}
div[class*=vf-calendar] .daterangepicker .calendar-table .next:hover {
  background: none;
}
div[class*=vf-calendar] .daterangepicker .calendar-table .next span:before {
  content: "\e905";
}
div[class*=vf-calendar] .daterangepicker .calendar-table .month {
  font-size: 18px;
  font-family: "Vattenfall Hall NORDx", "Vattenfall Hall", sans-serif;
  letter-spacing: 0px;
  line-height: 24px;
  padding: 18px 0;
}

.end-date {
  height: 40px !important;
  margin-top: -1px;
}
