.vf-header {
  background: #fff;
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  height: 56px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
}
.vf-header ul {
  padding: 0;
}
.vf-header a {
  color: #000;
  text-decoration: none;
}
.vf-header .vf-topbar__logo {
  display: flex;
  justify-content: center;
  width: 100%;
}
.vf-header__inner {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .vf-header__inner {
    display: none;
  }
}
.vf-header__inner .vf-icon-menu,
.vf-header__inner .vf-icon-search,
.vf-header__inner .vf-icon-close {
  padding: 18px;
}
.vf-header__search-box {
  display: none;
}
.vf-header-item__container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.vf-header__search-box.active {
  align-items: center;
  background: #ebf2f3;
  display: flex !important;
  justify-content: center;
  position: absolute;
  top: 56px;
  height: 160px;
  width: 100%;
}
.vf-header__search-box.active input {
  background: transparent;
  border: none;
  color: black;
  font-family: "Vattenfall Hall Display NORDx";
  font-weight: bold;
  font-size: 30px;
  text-indent: 10px;
  padding: 0;
  box-shadow: none;
  height: 36px;
  outline: none;
  width: 91%;
}
@media screen and (min-width: 768px) {
  .vf-header__search-box.active input {
    width: 40vw;
  }
}
.vf-header__search-box.active input::placeholder {
  color: black;
}
.vf-header .vf-header__menu-container {
  position: absolute;
  top: 56px;
  left: 0;
  width: 100%;
  margin-bottom: 53px;
  border-bottom: 1px solid #dcdddc;
}
@media screen and (min-width: 1024px) {
  .vf-header .vf-header__menu-container {
    display: block;
    top: 0px;
  }
}
.vf-header__menu-list {
  display: none;
  list-style-type: none;
}
.vf-header .vf-header__item {
  align-items: center;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  display: flex;
  font-size: 16px;
  font-weight: 400;
  height: 54px;
  justify-content: space-between;
  letter-spacing: 0px;
  margin: 0 auto;
  margin-bottom: 1px;
  padding: 8px 18px;
}
@media screen and (min-width: 1024px) {
  .vf-header .vf-header__item {
    border: none;
  }
}
.vf-header .vf-header__item-1 {
  border-bottom: 1px solid #dcdddc;
}
@media screen and (min-width: 1024px) {
  .vf-header .vf-header__item-1 {
    border-bottom: none;
  }
}
@media screen and (min-width: 1024px) {
  .vf-header .vf-header__menu-level-1 {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr 0.5fr;
    padding: 0 10% !important;
    height: 56px;
    align-items: center;
    text-align: center;
  }
}
.vf-header .arrow {
  content: " ";
  width: 0px;
  height: 10px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 10px solid white;
  position: absolute;
  display: inline-block;
  bottom: 0;
  margin-bottom: -1px;
  right: 50%;
  transform: translateX(50%);
}
.vf-header .vf-header__item-2 {
  background: #edf1f6;
  position: relative;
}
@media screen and (min-width: 1024px) {
  .vf-header .vf-header__menu-level-3 {
    background: #fff;
  }
}
.vf-header .vf-header__item-3 {
  background: #f2f2f2;
  padding-left: 36px;
}
@media screen and (min-width: 1024px) {
  .vf-header .vf-header__item-3 {
    background: transparent;
  }
}
.vf-header .active {
  display: block;
}
@media screen and (min-width: 1024px) {
  .vf-header .vf-icon-more,
.vf-header .vf-icon-less-info {
    display: none;
  }
}
.vf-header .vf-header__menu-level-2.active {
  background: #edf1f6;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  top: 56px;
  left: 0;
  width: 100%;
  padding: 0;
}
.vf-header .vf-header__menu-level-3.active {
  position: absolute;
  top: 56px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.vf-icon-div {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.vf-icon-div span {
  margin-left: 10px;
  margin-right: 10px;
}

@media screen and (max-width: 1024px) {
  .vf-icon-globe::before,
.vf-header__icon-close-desktop,
.vf-icon-search__desktop {
    display: none;
  }
}

.active-search-box {
  background: #ebf2f3;
  border-bottom: none;
}
