@use '../structure/responsive' as *;
@use '../../../style/variables' as *;

.vf-footer {
	background: $bg__light-blue;
	grid-gap: 24px;
	padding: 44px 12px;

	@media screen and (min-width: 768px) {
		grid-template-columns: repeat(3, 1fr);
		padding: 76px 44px;
	}

	&__container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		margin: 0 auto;

		@media screen and (min-width: 576px) {
			max-width: 540px;
		}

		@media screen and (min-width: 768px) {
			grid-template-columns: repeat(3, 1fr);
			max-width: 720px;
		}

		@media screen and (min-width: 992px) {
			max-width: 960px;
		}

		@media screen and (min-width: 1200px) {
			max-width: 1160px;
		}
	}

	&__nav {
		display: flex;
		flex-direction: column;

		&-item {
			color: $text__dark-color;
			flex: 1;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	&__heading {
		font-size: 1.25rem;
		margin: 0;
		margin-bottom: 1.5rem;
	}

	&__paragraph {
		margin: 0;
		margin-bottom: 1.5rem;
	}

	&__social-media {
		&-links {
			display: grid;
			grid-template-columns: 1fr 1fr;

			@media screen and (min-width: 1200px) {
				grid-template-columns: repeat(3, 1fr);
			}

			a:last-child {
				grid-column-start: 2;

				@media screen and (min-width: 1200px) {
					grid-column-start: 3;
				}
			}
		}
	}
}
