@use '../../../style/variables' as *;
@use '../input/input.scss' as *;

.vf-form {
	position: relative;
	background: $primary__aura-white;
	background-size: cover;
	background-position: center center;
	margin: 0 auto;
	max-width: 1700px;
	min-height: 370px;

	&__text-container {
		margin: 0 auto;
		max-width: 475px;
	}

	.vf-form__content {
		width: 100%;

		padding-top: 44px;
		padding-bottom: 88px;

		text-align: center;
		font-size: 16px;
		line-height: 28px;
		letter-spacing: -0.1px;

		@media screen and (min-width: 576px) {
			font-size: 1.25rem;
			letter-spacing: 0;
			line-height: 36px;
		}

		.vf-form__headline {
			margin: 0 auto;
			max-width: 90%;
			padding-bottom: 28px;

			@media screen and (min-width: 576px) {
				padding-bottom: 32px;
			}
		}

		.vf-preamble {
			font-weight: normal;
		}

		.vf-form__input {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;

			.vf-input__container {
				margin-top: 28px;
			}

			.vf-btn {
				margin-top: 28px;
			}

			.vf-input {
				width: 100%;
			}
		}
	}
}
