@use '../../../../style/variables' as *;
@use '../typography';
@forward '../input';

.vf-subscribe {
	background: $bg__light-blue;
	background-size: cover;
	background-position: center center;
	border-bottom: 20px $primary__aura-white solid;
	border-left: 20px $primary__aura-white solid;
	border-right: 20px $primary__aura-white solid;
	font-size: 2.75rem;
	margin: 0 auto;
	max-width: 1700px;
	min-height: 370px;
	position: relative;
	width: 100%;

	@media screen and (min-width: 768px) {
		border-bottom: 30px $primary__aura-white solid;
		border-left: 30px $primary__aura-white solid;
		border-right: 30px $primary__aura-white solid;
	}
	@media screen and (min-width: 992px) {
		border-bottom: 20px $primary__aura-white solid;
		border-left: 20px $primary__aura-white solid;
		border-right: 20px $primary__aura-white solid;
	}

	&__container {
		margin: 0 auto;
		padding: 0 20px;
		width: 100%;

		@media screen and (min-width: 576px) {
			max-width: 540px;
		}
		@media screen and (min-width: 768px) {
			max-width: 600px;
		}
		@media screen and (min-width: 992px) {
			max-width: 774px;
		}
		@media screen and (min-width: 1200px) {
			max-width: 960px;
		}
	}

	&__content {
		font-size: 16px;
		letter-spacing: 0;
		line-height: 36px;
		padding-top: 44px;
		padding-bottom: 88px;
		text-align: center;
		width: 100%;

		@media screen and (min-width: 768px) {
			font-size: 1.25rem;
		}

		.vf-preamble {
			font-weight: normal;
		}

		.vf-subscribe__input {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;

			.vf-btn {
				margin-top: 28px;
			}

			.vf-input {
				width: 100%;
			}
		}
	}

	&__headline {
		font-weight: 600;
		letter-spacing: 0;
		font-size: 36px;
		line-height: 42px;
		margin: 0 auto;
		max-width: 90%;
		padding-bottom: 28px;

		@media screen and (min-width: 768px) {
			padding-bottom: 32px;
		}
	}
}
