$primary__solar-yellow: #ffda00;
$primary__ocean-blue: #2071b5;
$primary__aura-white: #fff;
$primary__coal-black: #000;
$primary__magnetic-grey: #4e4b48;

$secondary__dark-green: #005c63;
$secondary__dark-blue: #1e324f;
$secondary__pink: #d1266b;
$secondary__dark-purple: #85254b;
$secondary__green: #3dc07c;
$secondary__red: #f93b18;
$secondary__purple: #9b62c3;

$bg__light-yellow: #fffee5;
$bg__light-green: #edf9f3;
$bg__light-blue: #edf1f6;
$bg__light-blue--alt: #ebf2f3;
$bg__light-red: #fef0ea;
$bg__light-grey: #f2f2f2;

$tertiary__ash-blue: #869bad;
$tertiary__dark-ash-blue: #69788c;
$tertiary__lighter-grey: #e6e6e6;
$tertiary__light-grey: #ccc;
$tertiary__medium-grey: #999;
$tertiary__medium-dark-grey: #767676;
$tertiary__dark-grey: #666;

$energy__hydro: #2da55d;
$energy__wind: #4fcc51;
$energy__solar: #81e0a8;
$energy__biomass: #375e4e;
$energy__coal: #e88a74;
$energy__gas: #d85067;
$energy__nuclear: #e6e6e6;
$energy__district-heating: #a376cc;

$link__color: #1964a3;
$link__hover-color: darken($link__color, 30%);

$text__dark-color: #222;

$border__grey: #e8e8e9;
