.vf-headings__large {
	font-family: 'Vattenfall Hall Display NORDx';
	font-size: 44px;
	font-weight: bold;
	line-height: 48px;
	margin: 0;

	@media screen and (min-width: 768px) {
		font-size: 60px;
		line-height: 75px;
	}
	@media screen and (min-width: 1200px) {
		font-size: 72px;
		line-height: 84px;
	}
}

.vf-headings__default {
	font-family: 'Vattenfall Hall Display NORDx';
	font-size: 36px;
	font-weight: bold;
	line-height: 40px;
	margin: 0;

	@media screen and (min-width: 768px) {
		font-size: 52px;
		line-height: 72px;
	}
}

.vf-headings__small {
	font-family: 'Vattenfall Hall NORDx';
	font-size: 18px;
	line-height: 28px;
	font-weight: bold;
	margin: 0;

	@media screen and (min-width: 768px) {
		font-size: 24px;
		line-height: 36px;
	}
}

.vf-headings__smaller {
	font-family: 'Vattenfall Hall NORDx';
	font-size: 18px;
	line-height: 28px;
	font-weight: bold;
	margin: 0;

	@media screen and (min-width: 768px) {
		font-size: 24px;
		line-height: 36px;
	}
}
