@charset "UTF-8";
.vf-hero {
  background-size: cover;
  background-position: center center;
  font-size: 2.75rem;
  height: 460px;
  margin: 0 auto;
  max-width: 1700px;
  min-height: 370px;
  position: relative;
  width: 100%;
}
@media screen and (min-width: 992px) {
  .vf-hero {
    height: 60vh;
  }
}
.vf-hero__image-container {
  background-size: cover;
  background-position: center center;
  height: 302px;
}
@media screen and (min-width: 768px) {
  .vf-hero__image-container {
    border: none;
    height: 310px;
  }
}
.vf-hero__image-text {
  align-items: center;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  height: 100%;
  text-align: center;
  width: 100%;
}
.vf-hero__heading {
  color: #fff;
  font-family: "Vattenfall Hall Display NORDx", Helvetica, sans-serif;
  font-weight: 600;
  font-size: 44px;
  letter-spacing: 0px;
  line-height: 48px;
  max-width: 90%;
  width: 300px;
  padding-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .vf-hero__heading {
    font-size: 60px;
    line-height: 75px;
    width: 600px;
  }
}
@media screen and (min-width: 992px) {
  .vf-hero__heading {
    font-size: 72px;
    line-height: 84px;
    text-align: center;
    width: 744px;
  }
}
.vf-hero__content {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.vf-hero__paragraph {
  color: #000;
  font-family: "Vattenfall Hall NORDx", "Vattenfall Hall", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  min-width: 300px;
  max-width: 744px;
  margin-bottom: 40px;
  margin-top: 40px;
  text-align: center;
}
.vf-hero__button-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 130px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .vf-hero__button-container {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    width: 500px;
  }
}

.vf-large-quote {
  background: #fff;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
  padding: 70px 20px 70px 20px;
  position: relative;
  max-width: 768px;
  width: 100%;
}
.vf-large-quote::before {
  border: 2px #cdd1d4 solid;
  border-radius: 50%;
  color: #cdd1d4;
  content: "“";
  font-size: 4.25rem;
  height: 48px;
  line-height: 72px;
  position: absolute;
  text-align: center;
  left: 30px;
  top: 90px;
  width: 48px;
}
.vf-large-quote__illustration {
  height: 330px;
  position: relative;
}
.vf-large-quote__illustration-cutout {
  position: absolute;
  z-index: 10;
  top: -50px;
  left: 0px;
  height: 380px;
}
@media screen and (min-width: 768px) {
  .vf-large-quote__illustration-cutout {
    left: 70px;
  }
}
.vf-large-quote__light-grey-bg {
  background: #f2f2f2;
  height: 330px;
  left: 155px;
  width: 100%;
  position: absolute;
}
.vf-large-quote__content {
  text-align: left;
  width: 100%;
  position: relative;
  top: 150px;
  z-index: 20;
}
.vf-large-quote__byline {
  font-weight: 500;
  letter-spacing: 0;
  line-height: 36px;
  font-size: 1.25rem;
}
.vf-large-quote__byline-description {
  font-weight: normal;
  letter-spacing: -0.05px;
  line-height: 28px;
  font-size: 1rem;
}
.vf-large-quote__quote {
  color: #222222;
  padding: 30px 0px 48px 12px;
  margin: 0 21px 0 0;
  background: #fff;
  font-size: 1rem;
  letter-spacing: -0.1px;
  line-height: 22px;
}
@media screen and (min-width: 768px) {
  .vf-large-quote__quote {
    margin-right: 200px;
  }
}

.vf-small-quote {
  background: #faf9dc;
  border-radius: 20px 20px 20px 20px;
  font-size: 16px;
  margin: 40px 0 60px;
  line-height: 28px;
  letter-spacing: -0.1px;
  max-width: 1440px;
  padding: 36px 48px 37px;
  position: relative;
}
@media screen and (min-width: 576px) {
  .vf-small-quote {
    font-size: 1.25rem;
    line-height: 36px;
  }
}
.vf-small-quote::after {
  border: 32px solid transparent;
  border-bottom: 0;
  border-right: 0;
  border-top-color: #faf9dc;
  bottom: 0;
  content: "";
  height: 0;
  left: 50%;
  margin-left: -16px;
  margin-bottom: -32px;
  position: absolute;
  width: 0;
}
@media screen and (min-width: 576px) {
  .vf-small-quote::after {
    left: 70px;
  }
}

.vf-upload__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 264px;
}
.vf-upload__btn {
  padding: 9px 28px !important;
}
.vf-upload__text {
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 0;
}
.vf-upload__size {
  color: #999999;
  font-size: 14px;
  margin-bottom: 20px;
  margin-top: 10px;
  line-height: 0;
}
.vf-upload--drag-n-drop {
  align-items: center;
  border: #999999 dashed thin;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 28px 0;
  width: 264px;
}
.vf-upload__icon {
  align-items: center;
  color: #ebf2f3;
  display: flex;
  justify-content: center;
  margin: 28px 0;
  width: 100%;
}
.vf-upload__icon::before {
  font-size: 80px !important;
}

.vf-file-upload__container,
.vf-file-upload--dragndrop {
  width: 264px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.vf-file-upload__container input[type=file],
.vf-file-upload--dragndrop input[type=file] {
  display: none;
}
.vf-file-upload__container span,
.vf-file-upload--dragndrop span {
  line-height: 0;
}
.vf-file-upload__container span:nth-child(1),
.vf-file-upload--dragndrop span:nth-child(1) {
  margin-top: 20px;
  margin-bottom: 20px;
}
.vf-file-upload__container .vf-file-upload__span--up-to-size,
.vf-file-upload--dragndrop .vf-file-upload__span--up-to-size {
  color: #999999;
  font-size: 14px;
  margin-bottom: 20px;
}
.vf-file-upload__container span:nth-child(3),
.vf-file-upload--dragndrop span:nth-child(3) {
  line-height: 14px;
  font-size: 14px;
}
.vf-file-upload__container .errorBorder,
.vf-file-upload--dragndrop .errorBorder {
  border-color: #f93b18;
}
.vf-file-upload__container .errorText,
.vf-file-upload--dragndrop .errorText {
  color: #f93b18;
}
.vf-file-upload__container label,
.vf-file-upload--dragndrop label {
  margin-bottom: 20px;
}
.vf-file-upload__container ul,
.vf-file-upload--dragndrop ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 28px;
  transition: all 0.4s ease;
}
.vf-file-upload__container ul li,
.vf-file-upload--dragndrop ul li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 180px;
  transition: all 0.4s ease;
}
.vf-file-upload__container ul img,
.vf-file-upload--dragndrop ul img {
  height: 12px;
  line-height: 10px;
  margin: 0 4px;
  cursor: pointer;
}
.vf-file-upload__container ul .disabled,
.vf-file-upload--dragndrop ul .disabled {
  color: #767676;
  background-color: #eee;
}
.vf-file-upload__container ul .errorText,
.vf-file-upload--dragndrop ul .errorText {
  color: #f93b18 !important;
}
.vf-file-upload__container ul .vf-icon-span,
.vf-file-upload--dragndrop ul .vf-icon-span {
  line-height: 10px;
  margin: 0 0 0 10px;
  cursor: pointer;
}
.vf-file-upload__container ul .vf-icon-span::before,
.vf-file-upload--dragndrop ul .vf-icon-span::before {
  font-size: 16px;
}

.vf-file-upload--dragndrop {
  width: 264px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: #999999 dashed thin;
  padding: 28px 0;
}
.vf-file-upload--dragndrop span:nth-child(3) {
  margin-bottom: 10px;
}
.vf-file-upload--dragndrop ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 28px;
  transition: all 0.4s ease;
}
.vf-file-upload--dragndrop ul li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 180px;
  transition: all 0.4s ease;
}
.vf-file-upload--dragndrop .disabled {
  color: #767676;
  background-color: #eee;
}
.vf-file-upload--dragndrop .errorText {
  color: #f93b18;
}
.vf-file-upload--dragndrop .vf-icon-span {
  line-height: 10px;
  margin: 0 0 0 10px;
  cursor: pointer;
}
.vf-file-upload--dragndrop .vf-icon-span::before {
  font-size: 16px;
  padding: 5px;
}

.is-dragover {
  border: #1964a3 dashed thin;
}

.box__dragndrop {
  display: none;
}

.vf-file-upload__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: #ebf2f3;
  margin: 28px 0;
}

.vf-file-upload__icon::before {
  font-size: 80px;
}

.vf-preamble {
  font-family: "Vattenfall Hall NORDx";
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .vf-preamble {
    font-size: 24px;
    line-height: 36px;
  }
}

.vf-headings__large {
  font-family: "Vattenfall Hall Display NORDx";
  font-size: 44px;
  font-weight: bold;
  line-height: 48px;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .vf-headings__large {
    font-size: 60px;
    line-height: 75px;
  }
}
@media screen and (min-width: 1200px) {
  .vf-headings__large {
    font-size: 72px;
    line-height: 84px;
  }
}

.vf-headings__default {
  font-family: "Vattenfall Hall Display NORDx";
  font-size: 36px;
  font-weight: bold;
  line-height: 40px;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .vf-headings__default {
    font-size: 52px;
    line-height: 72px;
  }
}

.vf-headings__small {
  font-family: "Vattenfall Hall NORDx";
  font-size: 18px;
  line-height: 28px;
  font-weight: bold;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .vf-headings__small {
    font-size: 24px;
    line-height: 36px;
  }
}

.vf-headings__smaller {
  font-family: "Vattenfall Hall NORDx";
  font-size: 18px;
  line-height: 28px;
  font-weight: bold;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .vf-headings__smaller {
    font-size: 24px;
    line-height: 36px;
  }
}

.vf-intro-in-caps {
  font-family: "Vattenfall Hall NORDx";
  font-size: 12px;
  font-weight: normal;
  line-height: 22px;
  text-transform: uppercase;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .vf-intro-in-caps {
    font-size: 16px;
    font-weight: bold;
    line-height: 36px;
  }
}

.vf-body-copy__large {
  font-family: "Vattenfall Hall NORDx";
  font-weight: normal;
  font-size: 20px;
  line-height: 36px;
  margin: 0;
}

.vf-body-copy__small {
  font-family: "Vattenfall Hall NORDx";
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  margin: 0;
}

.vf-utility__link {
  color: #2071b5;
}

.vf-utility__metadata {
  color: #888888;
}

.vf-utility__success {
  color: #3dc07c;
}

.vf-utility__warning {
  color: #f5a623;
}

.vf-input {
  background-color: #fff;
  box-sizing: border-box;
  color: #222222;
  border-radius: 4px;
  border: 1px solid #cccccc;
  font-size: 1.25rem;
  font-weight: normal;
  letter-spacing: 0px;
  line-height: 24px;
  height: 52px;
  padding: 16px 20px;
  position: relative;
  width: 264px;
}
.vf-input::-webkit-outer-spin-button, .vf-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.vf-input:focus ~ .vf-input__label {
  color: #1964a3;
  font-weight: 500;
  left: 16.5px;
  letter-spacing: 0px;
  transform: scale(0.7);
  transform-origin: top left;
  top: -9px;
  padding: 0 7px;
}
.vf-input__container {
  cursor: pointer;
  line-height: 1;
  position: relative;
}
.vf-input__label {
  color: #767676;
  cursor: default;
  font-family: "Vattenfall Hall NORDx";
  font-size: 1.25rem;
  line-height: 25px;
  letter-spacing: 0px;
  margin-bottom: 0;
  top: 13px;
  left: 20px;
  position: absolute;
  pointer-events: none;
  transition: top 0.2s ease-in-out;
}
.vf-input__label::after {
  background: white;
  content: "";
  display: block;
  height: 2.6px;
  top: -12.43666px;
  position: relative;
  width: 100%;
  transform: scaleX(1.05) scaleY(1.1);
  z-index: -1;
}
.vf-input__number--increment {
  position: absolute;
  right: 1px;
  height: 48%;
  width: 40px;
  border-left: 1px solid #e8e8e9;
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: 50%;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  top: 1px;
  border-bottom: 1px solid #e8e8e9;
}
.vf-input__number--decrement {
  position: absolute;
  right: 1px;
  height: 48%;
  width: 40px;
  border-left: 1px solid #e8e8e9;
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: 50%;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  bottom: 1px;
  border-top: 1px solid #e8e8e9;
}
.vf-input--underline {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #333;
  padding-left: 0;
  border-radius: 0;
  outline: none;
}
.vf-input--underline:hover {
  border-bottom: 1px solid #999;
}
.vf-input--underline ~ .vf-input__label {
  background-color: transparent;
  left: 0;
  padding: 0;
}
.vf-input--underline ~ .vf-input__label:after {
  background: transparent;
}
.vf-input--underline:focus ~ .vf-input__label {
  left: 0;
}
.vf-input--underline.vf-input--error {
  box-shadow: 0 0 #f93b18;
}
.vf-input--underline.vf-input--error:focus {
  box-shadow: 0 1px #f93b18;
  transition: box-shadow 0.2s ease-in-out;
}
.vf-input--underline.vf-input--warning {
  box-shadow: 0 0 #f5a623;
}
.vf-input--underline.vf-input--warning:focus {
  box-shadow: 0 1px #f5a623;
  transition: box-shadow 0.2s ease-in-out;
}

.vf-icon-up::before {
  position: absolute;
  font-size: 0.4375rem !important;
  left: calc(50% - 8px);
  top: calc(50% - 3.5px);
}

.vf-icon-down::before {
  position: absolute;
  font-size: 0.4375rem !important;
  left: calc(50% - 8px);
  top: calc(50% - 3.5px);
}

.has-value {
  display: none;
}

.vf-subscribe {
  background: #edf1f6;
  background-size: cover;
  background-position: center center;
  border-bottom: 20px #fff solid;
  border-left: 20px #fff solid;
  border-right: 20px #fff solid;
  font-size: 2.75rem;
  margin: 0 auto;
  max-width: 1700px;
  min-height: 370px;
  position: relative;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .vf-subscribe {
    border-bottom: 30px #fff solid;
    border-left: 30px #fff solid;
    border-right: 30px #fff solid;
  }
}
@media screen and (min-width: 992px) {
  .vf-subscribe {
    border-bottom: 20px #fff solid;
    border-left: 20px #fff solid;
    border-right: 20px #fff solid;
  }
}
.vf-subscribe__container {
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
}
@media screen and (min-width: 576px) {
  .vf-subscribe__container {
    max-width: 540px;
  }
}
@media screen and (min-width: 768px) {
  .vf-subscribe__container {
    max-width: 600px;
  }
}
@media screen and (min-width: 992px) {
  .vf-subscribe__container {
    max-width: 774px;
  }
}
@media screen and (min-width: 1200px) {
  .vf-subscribe__container {
    max-width: 960px;
  }
}
.vf-subscribe__content {
  font-size: 16px;
  letter-spacing: 0;
  line-height: 36px;
  padding-top: 44px;
  padding-bottom: 88px;
  text-align: center;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .vf-subscribe__content {
    font-size: 1.25rem;
  }
}
.vf-subscribe__content .vf-preamble {
  font-weight: normal;
}
.vf-subscribe__content .vf-subscribe__input {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.vf-subscribe__content .vf-subscribe__input .vf-btn {
  margin-top: 28px;
}
.vf-subscribe__content .vf-subscribe__input .vf-input {
  width: 100%;
}
.vf-subscribe__headline {
  font-weight: 600;
  letter-spacing: 0;
  font-size: 36px;
  line-height: 42px;
  margin: 0 auto;
  max-width: 90%;
  padding-bottom: 28px;
}
@media screen and (min-width: 768px) {
  .vf-subscribe__headline {
    padding-bottom: 32px;
  }
}

.vf-image-block {
  margin-right: auto;
  margin-left: auto;
  max-width: 1680px;
}

.vf-image-block__body {
  display: flex;
  flex-wrap: wrap;
  margin-right: auto;
  margin-left: auto;
  margin-top: 90px;
  padding-right: 16px;
  padding-left: 16px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .vf-image-block__body {
    margin-top: 0;
  }
}

.vf-image-block__media {
  position: relative;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}
.vf-image-block__media img {
  width: 100%;
  display: block;
  margin: 0 auto;
}
@media screen and (min-width: 576px) {
  .vf-image-block__media img {
    width: 50%;
  }
}
@media screen and (min-width: 992px) {
  .vf-image-block__media {
    flex: 0 0 33%;
    max-width: 33%;
  }
  .vf-image-block__media img {
    width: 100%;
  }
}

.vf-image-block__content {
  position: relative;
  width: 100%;
  padding: 35px 12px 35px 0;
}
@media screen and (min-width: 992px) {
  .vf-image-block__content {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
    order: -1;
    padding-right: 44px;
  }
}

.vf-image-block__title {
  font-weight: 600;
  letter-spacing: 0;
  font-size: 36px;
  line-height: 42px;
}

.vf-image-block__text,
.vf-image-block__text p {
  margin-bottom: 1rem;
}

.vf-image-block--reversed .vf-image-block__content {
  order: 1 !important;
}
@media screen and (min-width: 992px) {
  .vf-image-block--reversed .vf-image-block__content {
    padding-left: 44px;
    padding-right: 0;
  }
}

.vf-file-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.vf-file-list__item {
  direction: ltr;
}
.vf-file-list .vf-file-list__link:hover {
  color: #05131e;
}

.vf-linked-list-block {
  background: #edf1f6;
  margin-right: auto;
  margin-left: auto;
  max-width: 1680px;
}
.vf-linked-list-block .vf-linked-list-block__body .vf-linked-list-block__content .vf-file-list .vf-file-list__link {
  font-size: 1rem;
  letter-spacing: -0.05px;
  line-height: 28px;
  font-weight: 500;
  text-decoration: none;
  direction: ltr;
}

.vf-file-list__item-description {
  color: #888888;
  font-size: 14px;
  margin-left: 20px;
}

.vf-linked-list-block__title {
  font-size: 22px;
  margin: 0;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .vf-linked-list-block__title {
    font-size: 28px;
  }
}
.vf-linked-list-block__content {
  margin: 0 auto;
  padding: 0 20px;
}
@media screen and (min-width: 768px) {
  .vf-linked-list-block__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 44px;
    max-width: 720px;
    padding-top: 88px;
    padding-bottom: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .vf-linked-list-block__content {
    max-width: 1160px;
  }
}
.vf-linked-list-block__content--reversed {
  direction: rtl;
}
.vf-linked-list-block__content-text {
  direction: ltr;
  margin-top: 0;
  padding: 35px 12px 0 12px;
  width: 100%;
}

.vf-btn {
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 20px;
  color: #222222;
  display: inline-block;
  font-family: "Vattenfall Hall NORDx";
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 18px;
  padding: 9px 48px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  min-width: 180px;
  vertical-align: middle;
  text-align: center;
  user-select: none;
  position: relative;
}
.vf-btn::before {
  content: "→";
  font-size: 1.5rem;
  opacity: 0;
  position: absolute;
  transform: translate(-220%, 0);
  transform-origin: top left;
  transition-property: opacity, transform, -webkit-transform;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
}
.vf-btn:hover::before {
  transition-delay: 150ms;
  transform: translate(-150%, 0);
  opacity: 1;
}
.vf-btn--block {
  display: block;
  width: 100%;
}
.vf-btn--block + .vf-btn--block {
  margin-top: 10px;
}

.vf-btn--lg {
  padding: 12px 48px;
  font-size: 1.125rem;
  line-height: 24px;
  border-radius: 26px;
  min-width: 240px;
}

.vf-btn__primary {
  color: #111111;
  background: #ffda00;
}
.vf-btn__primary:hover {
  background: #ffe85b;
}
.vf-btn__primary:focus {
  background: #f1c50b;
}

.vf-btn__secondary {
  color: #fff;
  background: #1964a3;
}
.vf-btn__secondary:hover {
  background: #2071b5;
}
.vf-btn__secondary:focus {
  background: #1e324f;
}

.vf-btn__tertiary {
  color: #222;
  background: transparent;
  border: 2px #cdd1d4 solid;
}
.vf-btn__tertiary:hover {
  background: #1964a3;
  border-color: #1964a3;
  color: #fff;
}
.vf-btn__tertiary:focus {
  background: #1e324f;
  border-color: #1e324f;
  color: #fff;
}

.vf-btn__dark--outline {
  color: #222222;
  background: transparent;
  border: 2px #222222 solid;
}
.vf-btn__dark--outline:hover {
  color: #fff;
  background: #222222;
  border-color: #222222;
}
.vf-btn__dark--outline:focus {
  color: #fff;
  background: #4e4b48;
  border-color: #4e4b48;
}

.vf-btn__secondary--outline {
  color: #1964a3;
  background: transparent;
  border: 2px #2071b5 solid;
}
.vf-btn__secondary--outline:hover {
  color: #fff;
  background: #1964a3;
  border-color: #1964a3;
}
.vf-btn__secondary--outline:active {
  color: #fff;
  background: #1e324f;
  border-color: #1e324f;
}

.vf-btn:disabled {
  color: #767676;
  background-color: #eeeeee;
  opacity: 0.65;
}

.vf-btn__group {
  border-radius: 34px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
  display: flex;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  vertical-align: middle;
  width: 100%;
}

.vf-btn__group-btn {
  background: #fff;
  border: none;
  border-radius: 34px;
  color: #1964a3;
  display: inline-block;
  flex: 1;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: -0.05px;
  line-height: 28px;
  vertical-align: middle;
  text-align: center;
  position: relative;
  padding: 20px 30px;
}
.vf-btn__group-btn:focus, .vf-btn__group-btn:hover {
  color: #fff;
}
.vf-btn__group-btn:not(:last-child) {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.vf-btn__group-btn:not(:first-child) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.vf-btn--incharge-nordic {
  color: #000;
  background: #46ee76;
}
.vf-btn--incharge-nordic:hover {
  background: #88f4a6;
}
.vf-btn--incharge-nordic:focus, .vf-btn--incharge-nordic.focus {
  background: #46ee76;
}
.vf-btn--incharge-nordic.disabled, .vf-btn--incharge-nordic:disabled {
  color: #767676;
  background-color: #eee;
}

.vf-media-block {
  background: #edf1f6;
  display: flex;
  justify-content: center;
  margin-top: 180px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 16px 35px 16px;
  width: 100%;
}
@media screen and (min-width: 375px) {
  .vf-media-block {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (min-width: 576px) {
  .vf-media-block {
    max-width: 540px;
  }
}
@media screen and (min-width: 768px) {
  .vf-media-block {
    margin-top: 0;
    margin-bottom: 188px;
    max-height: 488px;
    max-width: 1680px;
  }
}
.vf-media-block__body {
  display: grid;
  grid-template-columns: 1fr;
}
@media screen and (min-width: 768px) {
  .vf-media-block__body {
    grid-template-columns: 1fr 1fr;
    max-width: 720px;
  }
}
@media screen and (min-width: 1200px) {
  .vf-media-block__body {
    grid-template-columns: 2fr 1fr;
    max-width: 1160px;
  }
}
.vf-media-block__content {
  direction: ltr;
  padding: 35px 0;
}
@media screen and (min-width: 768px) {
  .vf-media-block__content {
    padding-top: 88px;
    padding-left: 44px;
  }
}
.vf-media-block__title {
  font-size: 22px;
  font-family: "Vattenfall Hall Display NORDx", Helvetica, sans-serif;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 28px;
  margin: 0;
  margin-bottom: 1rem;
}
@media screen and (min-width: 576px) {
  .vf-media-block__title {
    font-size: 28px;
    line-height: 36px;
  }
}
.vf-media-block__paragraph {
  margin: 0;
  margin-bottom: 1rem;
}
.vf-media-block__image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.vf-media-block__image-container {
  margin-top: -90px;
}
@media screen and (min-width: 768px) {
  .vf-media-block__image-container {
    padding-top: 88px;
    margin-top: 0;
    height: 65%;
  }
}
@media screen and (min-width: 1200px) {
  .vf-media-block__image-container {
    height: 100%;
  }
}
.vf-media-block__links {
  display: flex;
  flex-direction: column;
}
.vf-media-block__links a {
  flex: 1;
}

.vf-media-block--reversed > .vf-media-block__body {
  direction: rtl;
}

.vf-grid {
  box-sizing: content-box;
  display: grid;
  grid-template-columns: repeat(4, 72px);
  grid-gap: 15px;
  padding: 21px;
  width: 333px;
}
@media screen and (min-width: 768px) {
  .vf-grid {
    grid-template-columns: repeat(12, 32px);
    grid-gap: 24px;
    padding: 60px;
    width: 648px;
  }
}
@media screen and (min-width: 1024px) {
  .vf-grid {
    grid-template-columns: repeat(12, 64px);
    grid-gap: 16px;
    padding: 40px;
    width: 944px;
  }
}
@media screen and (min-width: 1440px) {
  .vf-grid {
    grid-template-columns: repeat(12, 72px);
    grid-gap: 24px;
    padding: 156px;
    width: 1128px;
  }
}
.vf-grid__three-column {
  grid-column: span 4;
}

.vf-card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border: 0px solid rgba(0, 0, 0, 0.125);
  border-radius: 0;
  margin-bottom: 50px;
}
.vf-card > hr {
  margin-right: 0;
  margin-left: 0;
}
.vf-card > .list-group:first-child .list-group-item:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.vf-card > .list-group:last-child .list-group-item:last-child {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

a.vf-card {
  transition: transform 230ms ease-in-out;
}

a.vf-card:hover {
  text-decoration: none;
}

.vf-card__body {
  flex: 1 1 auto;
  padding: 0px;
  color: #222;
}

.vf-card__title {
  color: #222;
  font-size: 22px;
  margin-bottom: 1.5rem;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 28px;
}

.vf-card__text {
  font-size: 1rem;
  letter-spacing: -0.05px;
  line-height: 28px;
  font-weight: normal;
}

.vf-card__text:last-child {
  margin-bottom: 0;
}

.vf-card__link:hover {
  text-decoration: none;
}
.vf-card__link + .vf-card__link {
  margin-left: 0px;
}

.vf-card__header {
  padding: 1.5rem 0px;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 0px solid rgba(0, 0, 0, 0.125);
}
.vf-card__header:first-child {
  border-radius: 0;
}
.vf-card__header + .list-group .list-group-item:first-child {
  border-top: 0;
}

.vf-card__footer {
  padding: 1.5rem 0px;
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 0px solid rgba(0, 0, 0, 0.125);
}
.vf-card__footer:last-child {
  border-radius: 0;
}

.vf-card__header-tabs {
  margin-right: -0.75rem;
  margin-bottom: -1.5rem;
  margin-left: -0.75rem;
  border-bottom: 0;
}

.vf-card__header-pills {
  margin-right: -0.75rem;
  margin-left: -0.75rem;
}

.vf-card__img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
}

.vf-card__img {
  width: 100%;
  border-radius: 0;
}

.vf-card__img-top {
  width: 100%;
  margin-bottom: 1.5rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.vf-card__img-bottom {
  width: 100%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.vf-card__img,
.vf-card__img-top,
.vf-card__img-bottom {
  overflow: hidden;
  width: 100%;
  transition: transform 200ms ease;
  transform: scale(1);
  margin: 0;
}

.vf-card:hover .vf-card__img,
.vf-card:hover .vf-card__img-top,
.vf-card:hover .vf-card__img-bottom {
  transform: scale(1.1);
}

.vf-card__container {
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  .vf__utility--sm-hidden {
    display: none;
  }
}

@media screen and (max-width: 991px) {
  .vf__utility--md-hidden {
    display: none;
  }
}

@media screen and (max-width: 1199px) {
  .vf__utility--lg-hidden {
    display: none;
  }
}

@media screen and (max-width: 1919px) {
  .vf__utility--xl-hidden {
    display: none;
  }
}

.vf-footer {
  background: #edf1f6;
  grid-gap: 24px;
  padding: 44px 12px;
}
@media screen and (min-width: 768px) {
  .vf-footer {
    grid-template-columns: repeat(3, 1fr);
    padding: 76px 44px;
  }
}
.vf-footer__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
}
@media screen and (min-width: 576px) {
  .vf-footer__container {
    max-width: 540px;
  }
}
@media screen and (min-width: 768px) {
  .vf-footer__container {
    grid-template-columns: repeat(3, 1fr);
    max-width: 720px;
  }
}
@media screen and (min-width: 992px) {
  .vf-footer__container {
    max-width: 960px;
  }
}
@media screen and (min-width: 1200px) {
  .vf-footer__container {
    max-width: 1160px;
  }
}
.vf-footer__nav {
  display: flex;
  flex-direction: column;
}
.vf-footer__nav-item {
  color: #222;
  flex: 1;
  text-decoration: none;
}
.vf-footer__nav-item:hover {
  text-decoration: underline;
}
.vf-footer__heading {
  font-size: 1.25rem;
  margin: 0;
  margin-bottom: 1.5rem;
}
.vf-footer__paragraph {
  margin: 0;
  margin-bottom: 1.5rem;
}
.vf-footer__social-media-links {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media screen and (min-width: 1200px) {
  .vf-footer__social-media-links {
    grid-template-columns: repeat(3, 1fr);
  }
}
.vf-footer__social-media-links a:last-child {
  grid-column-start: 2;
}
@media screen and (min-width: 1200px) {
  .vf-footer__social-media-links a:last-child {
    grid-column-start: 3;
  }
}

.vf-form {
  position: relative;
  background: #fff;
  background-size: cover;
  background-position: center center;
  margin: 0 auto;
  max-width: 1700px;
  min-height: 370px;
}
.vf-form__text-container {
  margin: 0 auto;
  max-width: 475px;
}
.vf-form .vf-form__content {
  width: 100%;
  padding-top: 44px;
  padding-bottom: 88px;
  text-align: center;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: -0.1px;
}
@media screen and (min-width: 576px) {
  .vf-form .vf-form__content {
    font-size: 1.25rem;
    letter-spacing: 0;
    line-height: 36px;
  }
}
.vf-form .vf-form__content .vf-form__headline {
  margin: 0 auto;
  max-width: 90%;
  padding-bottom: 28px;
}
@media screen and (min-width: 576px) {
  .vf-form .vf-form__content .vf-form__headline {
    padding-bottom: 32px;
  }
}
.vf-form .vf-form__content .vf-preamble {
  font-weight: normal;
}
.vf-form .vf-form__content .vf-form__input {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.vf-form .vf-form__content .vf-form__input .vf-input__container {
  margin-top: 28px;
}
.vf-form .vf-form__content .vf-form__input .vf-btn {
  margin-top: 28px;
}
.vf-form .vf-form__content .vf-form__input .vf-input {
  width: 100%;
}

.vf-carousel-outer-container {
  background-color: #edf1f6;
  min-height: 797px;
  margin-top: 50px;
}

.vf-carousel-outer-container h2 {
  line-height: 72px;
  height: 72px;
  text-align: center;
  margin-top: 38px;
  margin-bottom: 0;
}

#vf-carousel-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 41px;
}

#vf-carousel-container::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}

.vf-carousel-next-slide-overlay {
  opacity: 0.5;
}

.vf-carousel-card-container {
  height: 515px;
  background-color: white;
  width: 360px;
  margin-right: 25px;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  -webkit-transform-origin: bottom center;
  transform-origin: bottom center;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  position: relative;
}

.vf-carousel-card-container:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.vf-carousel-controllers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.vf-carousel-arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 100px;
  margin-top: 40px;
  cursor: pointer;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.vf-carousel-arrows .arrow:hover {
  color: #2071b5;
}

.vf-carousel-arrows .arrow {
  color: #1964a3;
  margin-left: 8px;
}

.vf-carousel-image {
  height: 232px;
  width: 360px;
}

.vf-carousel-cta {
  position: absolute;
  bottom: 34px;
}

.vf-carousel-body-container {
  padding-left: 32px;
  padding-right: 35px;
  padding-top: 27px;
}

.vf-carousel-header {
  color: black;
  font-family: "Vattenfall Hall Bold NORDx", Helvetica, Arial, sans-serif;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 36px;
  width: 292px;
  margin-bottom: 13px;
}

.vf-carousel-subtitle {
  color: black;
  font-family: "VattenfallHall-Regular", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 0px;
  line-height: 28px;
  width: 294px;
  margin-bottom: 20px;
}

/*tablets*/
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .vf-carousel-card-container:hover {
    -webkit-transform: none;
    transform: none;
  }
}
/*mobile*/
@media screen and (max-width: 576px) {
  .vf-carousel-outer-container {
    background-color: #edf1f6;
    height: 612px;
    margin-top: 50px;
  }

  .vf-carousel-outer-container h2 {
    height: 36px;
    line-height: 36px;
    text-align: center;
    margin-top: 27px;
    margin-bottom: 0;
  }

  #vf-carousel-container {
    padding-top: 0;
  }

  .vf-carousel-card-container {
    height: 456px;
    background-color: white;
    width: 313px;
    margin-right: 20px;
    position: relative;
    margin-left: 5px;
    margin-top: 25px;
  }

  .vf-carousel-header {
    font-size: 24px;
  }

  .vf-carousel-arrows {
    display: none;
  }

  .vf-carousel-image {
    height: 200px;
    width: 313px;
  }

  .vf-carousel-body-container {
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 20px;
    height: 184px;
  }

  .vf-carousel-subtitle {
    letter-spacing: 0;
    line-height: 28px;
    margin-bottom: 15px;
  }

  .vf-carousel-card-container:hover {
    -webkit-transform: none;
    transform: none;
  }

  .vf-carousel-indicator-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }

  .vf-carousel-indicator {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #999999;
    margin-left: 9px;
  }

  .vf-carousel-indicator-active {
    background-color: #1964a3;
  }
}
.vf-link-with-arrow {
  color: #222;
  display: inline-block;
  font-size: 1rem;
  position: relative;
  letter-spacing: -0.05px;
  line-height: 28px;
  font-weight: normal;
  font-weight: 500;
  padding-left: 35px;
  user-select: none;
  vertical-align: middle;
  text-decoration: none;
}
.vf-link-with-arrow:hover {
  color: #2071b5;
}
@media screen and (min-width: 576px) {
  .vf-link-with-arrow {
    letter-spacing: 0;
    line-height: 36px;
  }
}
.vf-link-with-arrow::before {
  color: #2071b5;
  content: "→";
  font-size: 1.5rem;
  opacity: 1;
  position: absolute;
  transform: translate(-220%, 0);
  transform-origin: top left;
  transition-property: opacity, transform, -webkit-transform;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
}
.vf-link-with-arrow:hover::before {
  transition-delay: 150ms;
  transform: translate(-150%, 0);
}

@media screen and (min-width: 576px) {
  .vf-link-with-arrow--lg {
    font-size: 1.25rem;
  }
}

.vf-offset-image {
  padding: 1rem;
  position: relative;
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .vf-offset-image {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
.vf-offset-image__image {
  height: 100%;
  max-height: 300px;
  object-fit: cover;
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .vf-offset-image__image {
    max-height: none;
  }
}
.vf-offset-image__image-container {
  margin-bottom: 2rem;
}
@media screen and (min-width: 1024px) {
  .vf-offset-image__image-container {
    margin-bottom: 0;
  }
}
.vf-offset-image .vf-headings__default {
  margin-bottom: 2rem;
}
@media screen and (min-width: 1024px) {
  .vf-offset-image .vf-headings__default {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
  }
}
.vf-offset-image .vf-body-copy__small {
  margin-bottom: 2rem;
}
@media screen and (min-width: 1024px) {
  .vf-offset-image .vf-body-copy__small {
    margin-top: 50%;
    padding-left: 44px;
    padding-right: 44px;
    padding-bottom: 22px;
  }
}
.vf-offset-image .vf-link-with-arrow {
  margin-bottom: 2rem;
}
@media screen and (min-width: 1024px) {
  .vf-offset-image .vf-link-with-arrow {
    margin-left: 44px;
  }
}
.vf-offset-image__bg {
  background: #eef1f6;
  height: 50%;
  position: absolute;
  width: 50%;
  top: 20%;
  right: 0;
  z-index: -1;
}
@media screen and (min-width: 1024px) {
  .vf-offset-image__bg {
    height: 100%;
    top: 10%;
  }
}
