@use '../../../style/variables' as *;
@use './tooltip-mixins' as *;

.vf-tooltip {
	position: relative;
	display: inline-flex;
	cursor: pointer;
	color: $link__color;

	&:hover {
		color: $link__hover-color;
		text-decoration: underline;

		.vf-tooltip-message {
			opacity: 1;
			transition: opacity 0.3s ease-in-out;
		}
	}

	&[class*='vf-icon-'] {
		color: inherit;

		&:hover {
			color: inherit;
			text-decoration: none;
		}

		.vf-tooltip-message {
			margin-bottom: 10px;
		}
		&[class*='vf-tooltip--right'] {
			.vf-tooltip-message {
				margin-bottom: -10px !important;
			}
		}

		&[class*='vf-tooltip--left'] {
			.vf-tooltip-message {
				margin-bottom: -10px !important;
			}
		}
	}
}

.vf-tooltip--left {
	@include tooltip-alignment(left);
}

.vf-tooltip--right {
	@include tooltip-alignment(right);
}

.vf-tooltip--bottom {
	@include tooltip-alignment(bottom);

	&[class*='vf-icon-'] {
		~ .vf-tooltip-message,
		.vf-tooltip-message {
			bottom: -100%;

			transform: translate(50%, 100%);
		}
	}
}

.vf-tooltip--blue {
	@include tooltip-color(#f1f8ff, #c5dcee, $primary__ocean-blue);
}

.vf-tooltip--red {
	@include tooltip-color(#fff5f1, #eec8c5, $secondary__red);
}

.vf-tooltip--blue-solid {
	@include tooltip-color(
		$primary__ocean-blue,
		$primary__ocean-blue,
		$primary__aura-white
	);
}

.vf-tooltip--green-solid {
	@include tooltip-color(
		$secondary__green,
		$secondary__green,
		$primary__aura-white
	);
}

.vf-tooltip--red-solid {
	@include tooltip-color(
		$secondary__red,
		$secondary__red,
		$primary__aura-white
	);
}

.vf-tooltip--yellow-solid {
	@include tooltip-color(
		$primary__solar-yellow,
		$primary__solar-yellow,
		$text__dark-color
	);
}

//Also exists independently of .vf-tooltip - See input.md
.vf-tooltip-message {
	width: 180px;
	width: max-content;
	max-width: 180px;
	bottom: calc(100% - 10px);
	min-height: 31px;
	opacity: 0;
	position: absolute;
	right: 50%;
	transform: translate(50%, 0);
	padding: 4px 10px;
	z-index: 999;
	font-size: 0.875rem;
	font-weight: normal;
	letter-spacing: 0px;
	line-height: 20px;
	pointer-events: none;
	background: $bg__light-green;
	border: 1px solid #c5eecc;
	border-radius: 4px 4px 4px 4px;
	color: $secondary__green;
	text-align: center;

	&:before,
	&:after {
		content: '';
		display: block;
		position: absolute;
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
		bottom: 0;
		width: 10px;
		height: 10px;
		border-left: 1px solid #c5eecc;
		border-bottom: 1px solid #c5eecc;
		border-radius: 3px;
		transform: rotate(-45deg);
	}

	&:before {
		bottom: -5px;
	}

	&:after {
		content: '';
		bottom: -4px;
		border-color: transparent transparent $bg__light-green $bg__light-green;
		border-width: 10px;
	}
}
